---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';
import chew from '../../public/assets/images/unicef.jpg';
import panel from '../../public/assets/images/panel.jpg'
import CarouselSlide from '~/components/ui/Carousel';

import ConfettiButton from '~/components/ui/ConfettiButton.astro';

const metadata = {
  title: 'NUMSA - Official Website',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Our Activities',
        href: '#',
        // target: '_blank',
        // icon: 'tabler:download',
      },
      { text: 'The EXCOS', href: '/2024/excos' },
    ]}
    image={{ src: '/assets/images/numsa_logo.png', alt: 'NUMSA  Hero Image' }}
  >
    <Fragment slot="title">
      <!-- Nile University Medical Students Association -->
      <!-- <span class="hidden xl:inline">Medical Students Association</span> -->
      <span class="text-accent dark:text-white highlight"></span> NUMSA
    </Fragment>

    <Fragment slot="subtitle">
      <span class="text-center sm:inline">
        <span class="text-center font-semibold">Nile University Medical Students Association -</span>  NUMSA, the official representative body of medical students at Nile University
        of Nigeria.</span
      >
      <span class="block mb-1 font-bold text-center text-blue-800">NUMSA : In a League Of Its Own.</span>
      <!-- We are Nile University pride ourselves on social responsibility, impact and being rolemodels for the betterment of our school and society
      at large. -->
    </Fragment>
  </Hero>
  <!-- <ConfettiButton/> -->
  <div class="">
  <CarouselSlide client:only="react"/>
</div>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Our Objectives"
    title="NUMSA"
    subtitle="The association serves to represent all medical students and their interests guided by the rules of morality and discipline set by our prestigious college in order to enable medical students translate their noble initiatives to reality."
    items={[
      {
        title: 'Excellence',
        description: 'To ensure Nile University produces world-class medical doctors.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Collaboration',
        description: 'To encourage cooperation between NUMSA, its affiliates and the authority of Nile University.',
        icon: 'tabler:components',
      },
      {
        title: 'Research',
        description: 'To encourage research among students towards advancement in health.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Values',
        description:
          'To instill discipline, integrity and professionalism within the students of Nile university of Nigeria.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Giving',
        description: 'To contribute towards the improvement of health of the community via participation in community projects and organization of charity functions.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Talent',
        description:
          'To Provide, supervise or manage educational, cultural, sporting, welfare, recreational or commercial facilities or activities intended for the benefit directly or indirectly, of medical students.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->
  <!-- title="NUMSA's EFFECT: Fun Meets Impact!" -->
  <!-- tagline="LATEST NUMSA EVENTS" -->


  
  <Content
  tagline="LATEST NUMSA EVENTS"
  
  items={[
    {
      title: 'Cross Border Collaboration',
      description: `The conference facilitated meaningful discussions and collaborations among healthcare professionals from various countries, fostering partnerships to address global health challenges collectively.`,
    },
    {
      title: 'Networking Opportunities',
      description:
        'The conference provided invaluable networking opportunities, allowing delegates to connect with peers, exchange ideas, and forge new collaborations aimed at advancing global health agendas.',
    },
    {
      title: 'Panel Discussions',
      description:
        "Attendees were treated to a wealth of cutting-edge research presentations, showcasing the latest advancements in medical science and innovative approaches to healthcare delivery.",
    },
    {
      title: 'Keynote Addresses by Consultants',
      description:
        ' Renowned experts delivered inspiring keynote addresses, sharing their insights and expertise on pressing health issues, sparking dialogue and inspiring action among attendees.',
    },
  ]}
  image={{
    src: panel,
    alt: 'panel',
  }}
>
  <Fragment slot="content"><h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">NUMSA Inaugural Launch</h3>
    A convergence of the Nigerian Medical Professionals.</Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Free vaccinations',
        description: 'Routine vaccinations under NIP were taken by Nile Students.',
      },
      {
        title: 'Socialisation with Other Representatives Of Medical Schools',
        description: 'WIth a focus on prevention, all stakeholders were brought awareness on how to properly assess health.',
      },
      {
        title: 'Seminars and Meetings',
        description:
          'Easy and occcasion-appropriate lectures were given to students and professionals.',
      },
    ]}
    image={{
      src: chew,
      alt: 'UNICEF',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">World Health Day</h3>
      A chance to commemorate the advancements made towards the SDG30.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with NUMSA .',
      },
      {
        title: 'Community support',
        description: `Join the growing NUMSA  community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    title="Get your dream website up and running in no time with NUMSA ."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the NUMSA  template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by NUMSA ! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  /> -->

  <!-- Features2 Widget ************** -->
  <!-- 
  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in Magazine"
    information={`The blog is used to display NUMSA stories.
                        Each new article will be an important step that you will need to know to know as a medical student.
                        Medical School is a very interesting!
                `}
  /> -->

  <!-- FAQs Widget ******************* -->
  <!-- title="Frequently Asked Questions" -->

  <FAQs
    
    subtitle="Quick Facts To Get You Up To Speed about Our Organisation."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What is  NUMSA?',
        description:
          "NUMSA stands for 'Nile University Medical Students Association' and is the Medical Student Association Of Nile University.",
      },
      {
        title: 'How Do I Become A Member Of NUMSA?',
        description:
          'You must be a student of Nile University and A Member of The Nile University College of Health Sciences.',
      },
      {
        title: 'What Are The Benefits Of Being a Member Of NUMSA?',
        description:
          "Access to networking opportunities,academic support, leadership development and advocacy programs.",
      },
      {
        title: "How Can I Get Involved As A Student?",
        description:
          "Attend meetings, participate in events, and volunteer for various committees or initiatives.",
      },
      {
        title: 'How Does NUMSA Support Student Well-Being And Mental Health?',
        description:
          "We offer our members resources, workshops and in-person support groups focused on stress management, resilience, and menta health awareness.",
      },
      {
        title: 'How Does NUMSA Advocate For My Interests?',
        description:
          "The House, EXCOS and various Committees at all levels of pre-clinical and clinical studies focus on improving student Welfare and championing representation-based initiatives.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction> -->
</Layout>
