---
import Item from '../../components/numsa/listItem.astro';
// import type { Post } from '../../types';
import type { Post } from '../../components/numsa/listItem.astro';

export interface Props {
  excos: string;
  posts: Array<Post>;
}

const { posts, excos } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li class="mb-12 md:mb-20">
        <Item post={post} excos={excos}/>
      </li>
    ))
  }
</ul>
