---

import Layout from '../../../layouts/PageLayout.astro';
import ContentList from '../../../components/numsa/ContentList.astro';
import Headline from '../../../components/blog/Headline.astro';
import { getCollection } from 'astro:content';

import { blogListRobots } from '../../../utils/blog';
import { formatContent } from '../../../utils/numsa';

export const prerender = true;

const posts = await getCollection('senators');
const formattedPosts = formatContent(posts, 'senators');

const metadata = {
  title: `NUMSA HOUSE OF REPS`,
  robots: {
    index: blogListRobots?.index,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'numsa',
  },
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle="The 2024 Executive Council Of NUMSA."
    >
      The HOUSE MEMBERS
    </Headline>
    <ContentList items={formattedPosts} contentType="senators" />
  </section>
</Layout>
